/* geral */

* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: helvetica;
    color: white;
    border: none;
    text-align: center;
    margin-top: 15vh;

}

body {
    background-image: url('../img/inicial.jpg');
    background-size: cover;
    background-position-y: -400px;
}

button {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 60px;
    border-radius: 40px;
    margin-top: 30px;
    color: #fff;
    background-color: #085588;
    cursor: pointer;
    
}

